/* jsDelivr-hosted webfonts */
/* GitHub Repository: OnPointAdmin/fonts-cdn */
/* CSS File: https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts.css */

@font-face {
  font-family: 'Cabal Bold';
  src: url('https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts/Cabal-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts/CircularStd-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts/CircularStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts/Industry-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('https://cdn.jsdelivr.net/gh/OnPointAdmin/fonts-cdn@latest/fonts/Industry-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}